<% layout('./layouts/boilerplate') %>

<a href="/campgrounds" class="btn btn-outline-dark border-0"
                title="Back">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class="bi bi-caret-left-fill"
                    viewBox="0 0 16 16">
                    <path
                        d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                </svg> </a>
    <div class="alert alert-danger text-center" role="alert">
        
        <div class="spinner-grow text-danger float-end spinner-grow-sm"
            role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        Error 404 - Page not Found
    </div>
